/* 1 Element Selectors */
body {
    background-image: linear-gradient(to right, rgb(191, 191, 255), white, white, rgb(191, 191, 255));
}

h1 {
    font-style: italic;
    font-family: "Italianno", cursive;
    font-size: 3rem;
    color: rgb(255, 63, 255);
    text-align: center;
}

h2 {
    font-family: "Tangerine", cursive;
    color: rgb(64, 64, 64);
}

p {
    font-family: "Cormorant Garamond", cursive;
    color: black;
    text-align: justify;
}

textarea {
    min-width: 100%;
}

main {
    max-width: 32rem;
}

/* 1.1 Accessibility selectors */
nav {
    font-family: "Tangerine", cursive;
    font-size: 2.33rem;
    color: rgb(255, 63, 255);
    text-align: center;
}

footer {
    text-align: right;
    font-size: 1rem;
}
/* 2 Class Selectors */
.flexbox {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
}

.column {
    flex-grow: 1;
    flex-basis: 0;
}


/* 3 ID Selectors */
    /* 3.1 for text elements*/
    
    #header-buttons {
        font-family: "Cormorant Garamond", cursive;
        text-align: right;
    }

    #contact-form {
        font-family: "Cormorant Garamond", cursive;
        min-width: 100%;
    }


    /* 3.2 ID selectors for pics*/
    #foreground-image {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        filter: blur(.05em);
    }

/* Media queries */
/* Larger screens */
@media (min-width: 502px) {
    main {
        max-width: 64rem;
    }

    section {
        flex: 1;
        padding: 1rem;
        min-width: 20rem;
        max-width: 32rem;
    }
    
    /* The following commands turn the small screen, one-column layout for content paragraphs into a flexible multi-column layout */
    .main-text {
        display: flex;
        flex-wrap: wrap;    
        align-content: space-between;
    }

}